<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
		integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<title>Document</title>
</head>

<body class="bg-secondary-subtle">
	<div class="container w-25 p-0 mt-5 border border-1 border-dark-subtle">
		<form class="bg-light"  id="my-form" method="post">
			<div class="bg-secondary-subtle p-3 border-bottom border-dark-subtle">Please sign in</div>
			<p class="message p-2 text-danger" th:text="${message}"></p>
			<div class="mb-3 m-2">
				<input type="email" class="form-control" placeholder="E-mail" required maxlength="50"
					>
			</div>
			<div class="mb-3 m-2">
				<input type="password" class="form-control" id="password-input" placeholder="Password" required
					maxlength="50" >
			</div>
			<div class="mb-3 form-check m-2">
				<input type="checkbox" class="form-check-input" id="exampleCheck1">
				<label class="form-check-label" for="exampleCheck1">Remember me</label>
			</div>
			<div class="d-grid gap-2 m-2">
				<button class="btn btn-success" type="submit" id="submit-button">Login</button>
			</div>
			<div class="p-2"><a href="register" class="text-decoration-none">Click here to Register</a></div>

		</form>
	</div>
</body>

</html>